/* Police Archivo Black pour titres et barre navigation*/
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
/* Police Proza Libre pour le texte */
@import url('https://fonts.googleapis.com/css2?family=Proza+Libre&display=swap');

:root {
--background-color: rgb(187, 133, 130);
--text-color: rgb(253, 201, 13);
--main-color: rgb(235, 235, 235);
--main-color-darker: rgb(230, 230, 230);
/* --text-color: rgb(188, 237, 9); */
}
